html {
    font-size: 62.5%; /* This makes 1rem = 10px because 62.5% of the default 16px is 10px */
}

product-card {
    display: block;
    transition: transform 0.5s ease;
}

product-card.bs-devshop__product-card__expanded{
    transform: scale(1.05); /* Adjust to center the card */
}